@if (Data != null && Data.Count() > 0)
{
    <table class="table table-bordered table-responsive">
        <thead class="table-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Created</th>
                <th scope="col">Due</th>
                <th scope="col">Returned</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Library</th>
                <th scope="col">User</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var loan in Data)
            {
                <tr>
                    <td>@loan.Id</td>
                    <td>@loan.CreatedOn.ToCustomDateFormat()</td>
                    <td>@loan.DueDate.ToCustomDateFormat()</td>
                    @if (loan.Returned.HasValue)
                    {
                        <td>@loan.Returned.Value.ToCustomDateFormat()</td>
                    }
                    else
                    {
                        <td>Not returned</td>
                    }
                    <td>@loan.Book.Title</td>
                    <td>@loan.Book.Author</td>
                    <td>@loan.Book.Library</td>
                    <td>@loan.UserId</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div>Loading...</div>
}