@if (Data != null && Data.Count() > 0)
{
    <table class="table table-bordered table-responsive">
        <thead class="table-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Created</th>
                <th scope="col">Expires</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">User</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var reservation in Data)
            {
                <tr>
                    <td>@reservation.Id</td>
                    <td>@reservation.CreatedOn.ToCustomDateFormat()</td>
                    <td>@reservation.ExpiresOn.ToCustomDateFormat()</td>
                    <td>@reservation.Book.Title</td>
                    <td>@reservation.Book.Author</td>
                    <td>@reservation.UserId</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div>No reservations</div>
}